<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=gb18030" HTTP-EQUIV="CACHE-CONTROL" CONTENT="Private"HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2038 11:12:01 UTC" /><SCRIPT LANGUAGE="JavaScript"><!--window.onerror=function(){return false;};//--></SCRIPT></HEAD><BODY style="text-align:left;padding:0 0 10px 0;margin:0;"><PRE style="font:normal 12px arial;">
      <div style="background: white;
      width: 95%;
      max-width: 800px;
      margin: auto auto;
      border-radius: 5px;
      border:orange 1px solid;
      overflow: hidden;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);">
        <header style="overflow: hidden;">
            <img style="width:90%;z-index: 666;margin: auto auto" src="https://i.loli.net/2018/12/08/5c0b63b15360d.jpg"  />
        </header>
        <div style="padding: 5px 20px;">
        <p style="position: relative;
        color: white;
        float: left;
        z-index: 999;
        background: orange;
        padding: 5px 30px;
        margin: -25px auto 0 ;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30)">Dear&nbsp;肥猫瑞伊</p>
        <br  />
        <h3>您有一条来自<a style="text-decoration: none;color: orange " target="_blank" href="https://ourfor.top">Zip小窝</a>的回复</h3>
        <br  />
        <p style="font-size: 14px;">您在文章《留言板》上发表的评论：</p>
        <p style="border-bottom:#ddd 1px solid;border-left:#ddd 1px solid;padding-bottom:20px;background-color:#eee;margin:15px 0px;padding-left:20px;padding-right:20px;border-top:#ddd 1px solid;border-right:#ddd 1px solid;padding-top:20px">老哥的博客好炫啊，主题是GitHub上面这个开源的主题吗？</p>
        <p style="font-size: 14px;">Mashiro 给您的回复如下：</p>
        <p style="border-bottom:#ddd 1px solid;border-left:#ddd 1px solid;padding-bottom:20px;background-color:#eee;margin:15px 0px;padding-left:20px;padding-right:20px;border-top:#ddd 1px solid;border-right:#ddd 1px solid;padding-top:20px">https://2heng.xin/theme-sakura/</p>
        <p style="font-size: 14px;"><a style="text-decoration: none;color: orange" target="_blank" href="https://ourfor.top">肥猫瑞伊</a>&nbsp;双手呈上~</p>

      <div style="text-align: center;">
          <img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.4/img/other/hr.png" style="width:100%;
                                                                                                  margin:5px auto 5px auto;
                                                                                                  display: block;"  />
          <a style="text-transform: uppercase;
                      text-decoration: none;
                      font-size: 14px;
                      border: 2px solid #6c7575;
                      color: #2f3333;
                      padding: 10px;
                      display: inline-block;
                      margin: 10px auto 0; " target="_blank" href="https://2heng.xin/comment/comment-page-24/#comment-3420">点击查看回复的完整內容</a>
      </div>
      <img src="https://i.loli.net/2018/12/08/5c0b630f6f876.jpg" style="margin:5px auto 5px auto; width:  300px; display: block;"  />
        <p style="font-size: 12px;text-align: center;color: #999;">本邮件为系统自动发出，请勿直接回复<br  />
        &copy; 2018 Zip的小窝</p>
      </div>       
    </div>

</PRE><script type="text/javascript">
(function swaplink() {
var _oAs = document.getElementsByTagName('a')
if (_oAs && _oAs.length > 0) {
var _oA;
for (var i = 0, len = _oAs.length; i < len; i++) {
_oA = _oAs[i]
if (!/(\.qq\.com)|(\.qmail\.com)/.test(_oA.hostname) && /^(https?)?:\/\//.test(_oA.href)) {
_oA.rel = 'noopener';
_oA.target = "_blank";
_oA.onclick = (function(dom) {
return function(event) {
var win = window.open(dom.href, '_blank')
win && (win.opener = null)
if (event) {
if (event.preventDefault) {
event.preventDefault()
} else {
event.returnValue = true
}
}
}
})(_oA)
}
}
}
})()
</script></BODY></HTML>
